body {
    margin: 0;
    font-family: sans-serif;
    background-color: orange; 
    color:black;
}


.header {
    background-color: #5656bd;
    border-bottom: 2px solid #27272a;
    padding: 1rem;

}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}


.nav a {
    text-decoration: none;
    color: #a1a1aa;
}